<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <span id="hello"></span>
    <h1 id="title">Note Taking App</h1>
    <h3>Details of the note {{ note.name }}</h3>
    <br>
    <div id="details-btns">
        <a href="/" id="back-to-home">Go back to home page</a>
    </div>
    <br>
    <br>
    <div id="note">
        <form action="/edit-note">
            <input type="hidden" name="id" value="{{ note.id }}">
            <table>
                <tr>
                    <td width="25%">Name</td>
                    <td><input class="text-input" type="text" name="name" value="{{ note.name }}"></td>
                </tr>
                <tr>
                    <td>Discription</td>
                    <td><input class="text-input" type="text" name="description" value="{{ note.description }}"></td>
                </tr>
                <tr>
                    <td>Date created</td>
                    <td><input class="text-input" type="text" name="date" value="{{ note.date }}"></td>
                </tr>
            </table>
            <button id="edit-note">Submit</button>
        </form>
        </div>
    <div id="notify"></div>
    <script src="/static/script.js"></script>
</body>
</html>